@import '../../sass/colors';

.nav-mobile-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 250px;
	height: 100vh;
	background-color: rgba(11, 13, 23, 0.15);
	backdrop-filter: blur(40px);
	z-index: 999;
}

.logo-container {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	z-index: 1000;

	.logo {
		width: 40px;
		height: 40px;
	}
}

.nav-mobile {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	color: $white;
	position: relative;

	&--active {
		transform: translateX(0);
		background-color: $white;
	}

	.nav-close {
		position: absolute;
		top: 3.5rem;
		right: 2.5rem;
		cursor: pointer;
	}

	.nav-list {
		margin-top: 10rem;
		list-style: none;
		text-transform: uppercase;
		letter-spacing: 2px;

		.nav-item {
			position: relative;
			display: block;
			padding: 2rem;
			cursor: pointer;

			a {
				text-decoration: none;
				color: $white;
			}

			&::before {
				position: absolute;
				top: 35%;
				right: -20px;
				width: 5px;
				height: 30%;
				transform: scaleY(0);
				background-color: gray;
				transition: transform 0.3s;
				content: '';
			}

			&:hover::before {
				transform: scaleY(1);
			}

			.active::before {
				position: absolute;
				top: 35%;
				right: -20px;
				width: 5px;
				height: 30%;
				transform: scaleX(1);
				background-color: white;
				transition: transform 0.3s;
				content: '';
			}

			.nav-index {
				font-weight: bold;
				margin-right: 1rem;
			}
		}
	}
}

.header-container {
	display: none;
}

@media (min-width: 768px) {
	.logo-container {
		padding: 2.5rem;
	}
	.header-container {
		display: flex;
		align-items: center;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
		padding: 2rem;

		.nav-screen {
			display: flex;
			position: fixed;
			top: 0;
			right: 0;
			background-color: rgba(28, 31, 41, 0.85);
			backdrop-filter: blur(20px);
			color: $white;
			z-index: 1000;

			a {
				text-decoration: none;
				color: $white;
			}

			.nav-list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 2rem;
				list-style: none;
				text-transform: uppercase;
				letter-spacing: 2px;

				.nav-item {
					position: relative;
					display: block;
					padding: 2rem;
					cursor: pointer;

					

					&::before {
						position: absolute;
						left: 20px;
						bottom: 0;
						top: 75px;
						width: 80%;
						height: 3px;
						transform: scaleX(0);
						background-color: gray;
						transition: transform 0.3s;
						content: '';
					}

					&:hover::before {
						transform: scaleX(1);
					}

					.active::before {
						position: absolute;
						left: 20px;
						bottom: 0;
						top: 75px;
						width: 80%;
						height: 3px;
						transform: scaleX(1);
						background-color: white;
						transition: transform 0.3s;
						content: '';
					}


					.nav-index {
						font-weight: bold;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.nav-screen {
		justify-content: flex-end;
		width: 750px;

		.nav-list {
			position: relative;

			&::before {
				position: absolute;
				right: 100%;
				top: 50%;
				width: 225px;
				height: 1px;
				background-color: #979797;
				content: '';
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav-screen {
		width: 800px;

		.nav-list {
			&::before {
				width: 400px;
				right: 100%;
			}
		}
	}
}

@media (min-width: 1600px) {
	.nav-screen {
		width: 1000px;

		.nav-list {
			&::before {
				width: 600px;
				right: 130%;
			}
		}
	}
}

@media (min-width: 2000px) {
	.nav-screen {
		width: 1200px;

		.nav-list {
			&::before {
				width: 800px;
				right: 150%;
			}
		}
	}
}

@media (min-width: 2500px) {
	.nav-screen {
		width: 1400px;

		.nav-list {
			&::before {
				width: 800px;
				right: 200%;
			}
		}
	}
}
